body {
  margin: 0;
  background-color: #a1a1a1;
  font-family: Inter, "sans-serif";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  margin: auto;
  box-sizing: border-box;
  width: 360px;
}

.content-section_theme_dark {
  color: #ffffff;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* не забыть прописать меню и лого*/

.header__logo {
  display: block;
  width: 84px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__menu-link {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 19.2px;
}

.cover {
  padding: 7px 24px 32px 20px;
  min-height: 100px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: right center;
}

.cover__title {
  color: #fff;
  font-family: "EB Garamond", serif;
  font-size: 72px;
  line-height: 100%;
  font-weight: 400;
  width: 100%;
  line-height: 1;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  padding: 0 20px 38px;
}

.intro-heading {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  font-size: 16px;
  color: var(--text-gray, #ccc);
}

.intro-date {
  white-space: nowrap;
  color: var(--text-gray, #ccc);
  font-size: 16px;
  line-height: 120%;
}

.intro-title {
  color: #ccc;
  font-size: 16px;
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
}

.intro-main-text {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 22px;
  color: #f5f5f5;
  font-family: Inter;
  font-size: 16px;
  line-height: 21.6px;
}

.reasons {
  padding: 40px 20px;
  color: #131313;
}

.content-section__subtitle {
  font-size: 28px;
  font-family: EB Garamond, sans-serif;
  font-weight: 500;
  line-height: 115%;
  margin-bottom: 32px;
}

.content-section__introduction {
  margin-bottom: 32px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  font-size: 16px;
}

.content-section__list-item {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 40px 20px 60px;
  color: #f5f5f5;
}

.card {
  padding: 20px;
  border-radius: 30px;
}

.card__author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

.card_theme_dark {
  color: #f5f5f5;
  background: #343434;
}

.card__author-photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
  margin-bottom: 8px;
}

.card__author-name {
  color: #f5f5f5;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  line-height: 135%;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.card-text {
  margin-top: 8px;
  font-family: Inter;
  font-size: 16px;
}

.card_theme_bright{
  background-color: #FEE42A;
  color: #131313;
  font-size: 22px;
  font-family: EB Garamond, 'sans-serif';
  font-weight: 500;
  line-height: 1.35;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #FEE42A;
}

.footer__links{
  display: flex;
  list-style: none;
  gap: 16px;
}

.footer__links a{
  font-size: 14px;
  color: #f5f5f5;
  text-decoration: none;
  line-height: 1.25;
}